/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

*/


/* VARIÁVEIS */
:root{

}

/* VARIÁVEIS */

/* IMPORTAÇÃO DE FONTES*/
	@font-face {
		
	}

	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GERAL */
	html, body, figure, p, h1, h2, h3, h4, h5, h6, ul,div{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	ul{
		font-size: 0;
		list-style: none;
	}
	body{
		font-family: 'Roboto', sans-serif;
	}
	
/*ESTILOS GERAIS*/
	div#cv{

		padding:0 30px;
		max-width: 900px;
		margin:0 auto;
	}
/*HEADER*/
	
/*HOME PAGE*/
	div.mainDetails{

		padding-top: 20px;
		border-bottom: solid 3px #d18b26;
		padding-bottom: 10px;
		margin-bottom: 20px;
		display: flex;
	}
		div.mainDetails #headshot{
						
		}
			div.mainDetails #headshot img{
				border-radius: 100%;
				width: 130px;				
				height: 130px;
				display: block;				
			}
		div.mainDetails #name{
			padding-top: 34px;
		}	
			div.mainDetails #name h1{
				text-align: left;
			}
			div.mainDetails #name h2{
				text-align: left;
			}
		div.mainDetails #contactDetails{
			padding-top: 34px;
		}
			div.mainDetails #contactDetails ul{
				text-align: center;
				
			}
				div.mainDetails #contactDetails ul li{
					color: #545353;
				}
					div.mainDetails #contactDetails ul li a{
						color: #545353;
					}
	div.mainDetails div:nth-child(1){
       width: 22vw;
	}
	div.mainDetails div:nth-child(2){
	       width: 50vw;
	}
	div.mainDetails div:nth-child(3){
	   width: 18vw;
	}
	section{
		padding-bottom: 10px;
		border-bottom: solid 1px #ccc;
		margin-bottom: 20px;

	}
	section .sectionTitle h1{
		color:#d18b26;
		margin-bottom: 10px;
		font-style: italic;
		font-size: 20px;
		font-weight: 100;
	}
	section article h2{
		color:#000;
		margin-bottom: 10px;
		font-style: italic;
		font-size: 17px;
		font-weight: 100;
	}
	section article p{

		font-size: 15px;
		color: #585858;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.sectionContent{
		float: left;
		padding-left: 182px;
	}
	section .sectionTitle{
		float:left;
	}
	.clear{
		clear: both;
	}
	
	.keySkills{

	}
		.keySkills li{
			font-size: 12px;
			display: inline-block;
			width: 22%;
		}
				
/*MEDIA QUERY*/

@media screen and (min-width: 320px) and (max-width: 600px){

	div.mainDetails #headshot img{
		margin:0 auto;	
	}

	div.mainDetails #name h2, div.mainDetails #name h1{
		text-align: center
	}
	div.mainDetails div:nth-child(1){
       width: 100%;
	}
	div.mainDetails div:nth-child(2){
	       width: 100%;
	}
	div.mainDetails div:nth-child(3){
	   width: 100%;
	}
	div.mainDetails{
		display: block;
	}
	section .sectionTitle{
		float:initial;
	}
	.sectionContent{
		float:initial;
	    padding-left: 0;
	}
}


